body {
    background-color: rgb(184, 169, 204);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;

}

section {
    background: white;
    border-radius: 10px;
    padding: 200px;
    width: 300px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
    color: white ;
    position: center;
}
div{
    color:black;
    font: normal 15pt Verdana;
}

img {
    height: 350px;
    width: 350px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);

}

footer {
    color: white;
    text-align: center;
    font-style: italic;

}
